.card {
  width: 130px;
  margin: 10px 5px;
  text-align: center;
}
.card-title {
  height: 50px;
  margin-top: -50px;
  color: white;
}
.card-content {height: 130px;}
.card-action {margin-bottom: 10px;}

.marked {color: aqua;}

.hovered {
  transform: scale(1.05);
  transition: 0.5s all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
